.products {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  align-items: center;
}
.types {
  display: flex;
}
.types button {
  transition: 0.25s;
  margin: 0 2px;
  width: 90px;
  height: 45px;
  border: 1px solid black;
  border-radius: 5px;
}
.types button:hover {
  box-shadow: 0 1px 2px 0 black !important;
}

svg {
  transform: translateY(-1.5px);
}

.currentPage {
  background-color: rgb(252, 204, 150);
}
.currentPage:hover {
  background-color: rgb(252, 204, 150) !important;
}
.pagination {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.267);
  text-decoration: none;
  list-style: none;
  height: 3rem;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.prev,
.next {
  margin: 1px 0;
  width: 7rem;
  height: 2rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
}
.pageLink {
  cursor: pointer;
  padding: 0rem 2rem;
  transition: 0.25s;
  color: black;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.25s;
}
.pageLink:hover {
  color: black;
}
.page:hover {
  background-color: antiquewhite;
}
.page {
  height: 100%;
}

.prev {
  padding: 0.3rem 1rem;
  border-right: 1px solid rgba(0, 0, 0, 0.3) !important;
}
.next {
  padding: 0.3rem 1rem;
  border-left: 1px solid rgba(0, 0, 0, 0.3) !important;
}

.next:hover,
.prev:hover {
  color: rgba(0, 0, 0, 1);
}
.pagination .prev[aria-disabled="true"],
.pagination .next[aria-disabled="true"] {
  cursor: default;
  opacity: 0.5;
  color: rgba(0, 0, 0, 0.7);
}
@media (max-width: 700px) {
  .types button {
    width: 67px;
    height: 40px;
    font-size: 13px;
  }
}
